<div class="main">
  <div class="about_banner_img"><img src="images/price.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Messages</h1>
    </div>
    <div class="border"> </div>
    <br>
    <br>
    <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="images/c6.jpg" class=" img-circle" alt="Bird" width="150" height="150">
        <h4>You have to think it before you can do it. The mind is what makes it all possible.</h4>
      </div>

      <div class="col-md-3">
        <img src="images/c8.jpg" class=" img-circle" alt="Bird" width="150" height="150">
        <h4>Things work out best for those who make the best of how things work out.</h4>
      </div>

      <div class="col-md-3">
        <img src="images/c11.jpg" class=" img-circle" alt="Bird" width="150" height="150">
        <h4>I hit the gym so I won’t have to hit you.</h4>
      </div>
      <div class="col-md-3">
        <img src="images/pic4.jpg" class=" img-circle" alt="Bird" width="150" height="150">
        <h4>Things may come to those who wait, but only the things left by those who hustle</h4>
      </div>
    </div>
    <br><br>
    <hr>
    <div class="container" style="background-color: rgb(141, 200, 228);">
      <h2>Messages</h2>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>mark@gmail.com</td>
            <td>feedback</td>
            <td>I love the Enviornment of the gym...</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Larry</td>
            <td>larry@gmail.com</td>
            <td>Query</td>
            <td>When my new Training session start</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Jacob@gmail.com</td>
            <td>feedback</td>
            <td>Good facilities... No pain, no gain.</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear"></div>
<br>
<app-footer></app-footer>