table, th, td {
    border: 2px solid black;
  }
  @media screen and (max-width: 768px) {
	.table-container-small{
		display: block;
	}
    .table-container-big{
        display: none;
    }
}

    

.table-container-small{
    padding: 10px;
    margin-top: 10px;
    display: none;
}
