<div class="main">
    <div class="about_banner_img"><img src="images/about_img.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">About Us</h1>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div class="row about-top">
                <div class="col-md-5">
                    <img src="images/about_img1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-7 about-left-text">
                    <h2>Redefining Fitness!</h2>
                    <p>We are a high quality chain of gyms spread accross the country. 
                        It was founded in 2005 with a single goal in mind: To change people's perception about the gym.
                        We provide assurance of quality.
                    </p>
                    <h4>Robert Bailey - <span class="m_12">Gym CEO</span></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>