<div class="main">
    <div class="about_banner_img"><img src="images/about_img.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">About Us</h1>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div class="row about-top">
                <div class="col-md-5">
                    <img src="images/about_img1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-7 about-left-text">
                    <h2>Lorem ipsum dolorsit!</h2>
                    <p>aliquam erat volutpat. Ut wisi enim ad minim veniam, quis <br>nostrud exerci tation
                        ullamcorper suscipit lobortis.</p>
                    <h4>ullamcorper - <span class="m_12">Gymsport Responsible</span></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>