<div class="main">
    <div class="register-grids">
      <div class="container">
        <form (ngSubmit)="resetPassword()">
          <div class="register-top-grid">
            <h3>PASSWORD RESET</h3>
            <div>
              <span>EMAIL ADDRESS<label>*</label></span>
              <input type="email" name="email" [(ngModel)]="customer.email">
            </div>
            <div>
              <span>DATE OF BIRTH<label>*</label></span>
              <input type="date" name="dob" [(ngModel)]="customer.dob">
            </div>
            <div>
              <span>SECURITY QUESTION<label>*</label></span>
              <select name="securityQ">
                  <option disabled selected>Please answer one security question</option>
                  <option value="sq1">Security Question 1</option>
                  <option value="sq2">Security Question 2</option>
                  <option value="sq3">Security Question 3</option>
                  <option value="sq4">Security Question 4</option>
              </select>
            </div>
            <div>
              <span>Answer<label>*</label></span>
              <input type="text" name="sqa">
            </div>
  
          </div>
          <div class="clear"> </div>
          <div class="register-bottom-grid">
            <h3>SET PASSWORD</h3>
            <div>
              <span>Password<label>*</label></span>
              <input type="password" name="password" [(ngModel)]="customer.password">
            </div>
            <div>
              <span>Confirm Password<label>*</label></span>
              <input type="password" name="cpassword">
            </div>
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <input type="submit" value="CHANGE PASSWORD">
        </form>
      </div>
    </div>
  </div>
  <br>
  <app-footer></app-footer>