<div class="main">
    <div class="about_banner_wrap">
        <h1 class="m_11">Dashboard</h1>
    </div>
    <div class="container">
        <div class="col-md-8 contact-top">
            <h2><i>Welcome to your dashboard</i></h2>
        </div>
        <div class="to">
            <h3 style="color:white"><u>Your diet plan:</u></h3>
            <table border=3 style="width:100%">
                <tr>
                    <th>Meal</th>
                    <th>Food Items</th>
                </tr>
                <tr>
                    <td>Breakfast</td>
                    <td>Oats/Corn Flakes/Muesli:50g, Orange/Apple/Mixed Fruit Juice:1 glass, 1 boiled egg</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>
                </tr>
                <tr>
                    <td>Dinner</td>
                    <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>
                </tr>
                <tr>
                    <td>Others</td>
                    <td>100g Roasted Almonds/Dry Fruits, Digestive Biscuit, Fruit Salad, Fruit Juice</td>
                </tr>
            </table>
        </div>

        <div class="text">
            <h3> Your calorie count for the day is: <b><mark><u>500</u></mark></b></h3>
        </div>

        <div class="text">
            <h3>Your step count for the day is: <b><mark><u>6500</u></mark></b></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="src/app/images/pic9.jpg">
        <img src="images/dashboard1.jfif">
        <img src="images/pic5.jpg">
    </div>
    <div class="column">
        <img src="images/pic3.jpg">
        <img src="images/pic7.jpg">
        <img src="images/dashboard.jfif">
    </div>
    <div class="column">
        <img src="images/dashboard.jfif">
        <img src="images/gym1.jpg">
        <img src="images/pic2.jpg">
    </div>
</div>
