.container {
  padding: 16px;
}

html, body{
font-family: 'Open Sans', sans-serif;
background: #80DFF8;
color:antiquewhite;
font-size: 100%;
}

th, td {
  padding: 15px;
  text-align: center;
}

.main{
  font-family: 'Open Sans', sans-serif;
background: #80DFF8;
font-size: 100%;
}

mark { 
  background-color: #80dff8;
  color: rgb(0, 0, 0);
}

h1{
  color:white;
}

h2{
  color:white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: white;
  width:100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.table-container-big{
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: aliceblue;
  
}
.table-container-small{
  padding: 10px;
  margin-top: 10px;
  display: none;
}

table{
  margin: 0px;
}
.table-container-big>table>thead>tr>th,.table-container-big>table>tbody>tr>td{
  padding: 30px;
  text-align: center;
}

.table-container-big>table>tbody>tr>td:hover:not(:first-child){
  background-color: #02b6fc;
  color: white;
  font-weight: bold;
}

.table-small>thead>tr>th:last-child,.table-small>tbody>tr>td:last-child{
  text-align: right;
}

.table-small>tbody>tr:hover{
  background-color: #02b6fc;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
.table-container-small{
  display: block;
}
  .table-container-big{
      display: none;
  }
}

.text{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #80DFF8;
  color: white;
  width:100%;
}