<div class="main">
    <div class="about_banner_img"><img src="images/trine_img.jpg" class="img-responsive" alt=""></div>
    <div class="about_banner_wrap">
          
        <h1 class="m_11">Dashboard</h1>
    </div>
    <div class="container">
        <div class="col-md-8 contact-top">
            <h2><i>Welcome to your dashboard</i></h2>
        </div>
    
        <div class="about_trainer">
            <h3 class="m_2">Your Trainers</h3>
            <div class="row about_box">
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="images/about_img3.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Dave<br><span class="m_text">Spinning</span></h3>
                                <p>5 years experience</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>He has taken professional training in the field of spinning. He is an alumni of Royal Athletics University. </p>
                            <h4>Speciality</h4>
                            <p class="para1">Athletics.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="images/about_img6.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Max<br><span class="m_text">Powerlifting</span></h3>
                                <p>9 years experience</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Former world Strongman competitor
                            </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">Power Lifting</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="images/about_img7.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Harvey<br><span class="m_text">Body Building</span></h3>
                                <p>12 years experience</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Former IFBB Pro body builder </p>
                            <h4>Speciality</h4>
                            <p class="para1">Body Building</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="container">
            <h3 class="m_2">Diet Plan</h3>
            <div class="table-container-big table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            
                            <th>Meal</th>
                            <th>Menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Breakfast</td>
                            <td>Oats/Corn Flakes/Muesli:50g, Orange/Apple/Mixed Fruit Juice:1 glass, 1 boiled egg</td>
                        </tr>
                        <tr>
                            <td>Lunch</td>
                            <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>
                        </tr>
                        <tr>
                            <td>Dinner</td>
                            <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>100g Roasted Almonds/Dry Fruits, Digestive Biscuit, Fruit Salad, Fruit Juice</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-container-small">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                style="display: block;color: white;">Breakfast</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <tbody>
                                    <tr>
                                        <td>Oats/Corn Flakes/Muesli:50g, Orange/Apple/Mixed Fruit Juice:1 glass, 1 boiled egg</td>    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                                style="display: block;color: white;">Lunch</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <tbody>
                                    <tr>
                                        <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                                style="display: block;color: white;">Dinner</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <tbody>
                                    <tr>
                                        <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                                style="display: block;color: white;">Others</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <tbody>
                                    <tr>
                                        <td>100g Roasted Almonds/Dry Fruits, Digestive Biscuit, Fruit Salad, Fruit Juice</td>    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text">
            <h2><i>Your calorie count for the day is:   <mark><u>500</u></mark></i></h2>            
        </div>

        <div class="text">
            <h2><i>Your step count for the day is:  <mark><u>6500</u></mark></i></h2>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>