<html> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<body> 
  <div class="bg-img">
  <form style="max-width:500px;margin:auto">
    <br><br><br><br>
   <h1 fontcolor="green"><b> Sign Up</b></h1>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Firstname" name="firstnm" required>
  </div>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Lastname" name="lastnm" required>
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email" required>
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="psw">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Confirm Password" name="psw">
  </div>
  
  <button type="submit" class="btn">Register</button>
  <marquee width="100%" direction="left" height="100px"> <h2><b>Get In..... Get Fit</b></h2></marquee>
</form>
<br><br><br><br><br><br><br><br>
</div>
</body>
</html>